/*Nintendo Switch -------------------------------------------------------*/
.console {
  width: 80%;
  height: 45vh;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  border: 2px solid rgb(95, 95, 95);
  box-shadow: -6px 7px 0 #888, -8px 10px 0 #333;
}
.screenBorder {
  width: 46%;
  background-color: rgb(88, 88, 88);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(0, 0, 0);
}
.screen {
  width: 90%;
  height: 90%;
  background-image: url("/images/paisagemPokemon1.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
}

.button {
  width: 50%;
  padding: 4%;
  margin: 10%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  cursor: pointer;
}

/*Button 1 -------------------------------------------------------*/
.controls1 {
  width: 27%;
  height: 45vh;
  background-color: #37fceb;
  border-radius: 27px 0px 0px 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pokemonNameNumberType {
  background-color: white;
  padding: 0% 2% 2% 2%;
  border-radius: 20px;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
  transition: 0.3s;
}
.pokemon_name {
  font-size: 25px;
}
.pokemon_number {
  font-size: 20px;
}
.pokemon_image {
  width: 200px;
}
.selectDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.select {
  width: 40%;
  padding: 2%;
  margin-bottom: 2%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  background-color: #ffffff;
  box-shadow: -2px 3px 0 #818181, -4px 6px 0 #000;
  cursor: pointer;
}
.pokemon_filter {
  width: 40%;
  min-height: 30px;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  background-color: #ffffff;
  box-shadow: -2px 3px 0 #818181, -4px 6px 0 #000;
  cursor: pointer;
}
.pokemon_filter:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

/*Button 2 -------------------------------------------------------*/
.controls2 {
  width: 27%;
  height: 45vh;
  background-color: #fd3d3d;
  border-radius: 0px 27px 27px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screenEvolve {
  width: 80%;
  background-image: url("/images/paisagemPokemon1.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  margin-bottom: 3%;
  margin-top: 5%;
  border-radius: 20px;
}
.evolve1 {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.evolve2 {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input__search {
  width: 90%;
  margin-left: 10px;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
  transition: 0.3s;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}
.choose {
  display: flex;
  align-items: center;
  justify-content: center;
}

.littleButtons {
  width: 100%;
  padding: 10%;
  margin: 10%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  cursor: pointer;
}
.littleButtons:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

/*Responsividade -------------------------------------------------------*/
@media (max-width: 900px) {
  .choose {
    flex-direction: column;
    width: 20%;
  }
  .screenEvolve {
    margin: 0;
  }
  .button {
    margin: 2%;
  }
}
@media (max-width: 750px) {
  .pokemonNameNumberType {
    font-size: 10px;
  }
  .pokemon_name {
    font-size: 20px;
  }
  .pokemon_number {
    font-size: 15px;
  }
}
